<%- include('../partials/header') %>

<form class="deck-form" action="/decks/<%= _id %>?_method=PUT" method="POST">
    <label>Deck Name:
        <input type="text" name="name" autocomplete="off" required value="<%= name %>">
    </label><br>
    <label>Format:
        <input type="text" name="format" autocomplete="off" value="<%= format %>">
    </label><br>
    <label>Deckbox Card Image:
        <input type="text" name="deckTile" autocomplete="off" value="<%= deckTile %>">
    </label><br>
    <label>Companion:
        <input type="text" name="companion" autocomplete="off" value="<%= companion %>">
    </label><br>
    <label>Commander(s):
        <textarea name="commandZone" autocomplete="off"><%= commandZone %></textarea>
    </label><br>
    <label>Main Deck:
        <textarea name="mainDeck" autocomplete="off"><%= mainDeck %></textarea>
    </label><br>
    <label>Sideboard:
        <textarea name="sideboard" autocomplete="off"><%= sideboard %></textarea>
    </label><br>
    <label>Maybeboard:
        <textarea name="maybeboard" autocomplete="off"><%= maybeboard %></textarea>
    </label><br>
    <button type="submit">Update Deck</button>
</form>

<%- include('../partials/footer') %>
