<%- include('../partials/header') %>

<!-- search box -->

<!-- List of decks -->
<% if (decks) { %>
<ul class="deck-list container-md">
    <% decks.forEach(deck => { %>
    <li class="deck-list-item row row-cols-4 align-items-center justify-content-center">
        <div class="deck-tile-container col">
            <div class="deck-tile"
                style="<%= deck.deckTile ? `background-image: url(${deck.deckTile.image_uris.art_crop})` : '' %>">
                <%= deck.deckTile ? deck.deckTile.name : 'No deck tile' %>
            </div>
            <% if (deck.deckTile) { %>
            <div class="deck-tile-credits">
                Artist: <%= deck.deckTile.artist %><br>
                &copy; <%= deck.deckTile.released_at.getFullYear() %> Wizards of the Coast
            </div>
            <% } %>
        </div>
        <div class="deck-name-container col">
            <div class="deck-name"><a href="/decks/<%= deck.id %>"><%= deck.name %></a></div>
            <div class="deck-format">
                Format: <%= deck.format ? deck.format.replace(/^./, match => match.toUpperCase()) : '' %>
            </div>
        </div>
        <div class="deck-wubrg col">{W}{U}{B}{R}{G}</div>
        <div class="deck-buttons-container col">
            <button disabled>Export</button>
            <form action="/decks" method="post">
                <input type="hidden" name="deckToClone" value="<%= deck.id %>">
                <button type="submit" disabled>Clone</button>
            </form>
            
            <% if (user && deck.owner.id === user.id) { %>
            <a href="/decks/<%= deck.id %>/edit">Edit</a>
            <form action="/decks/<%= deck.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <% } %>
        </div>
    </li><br>
    <% }); %>
</ul>
<% } else { %>
<div>
    No decks found!
</div>
<% } %>




<%- include('../partials/footer') %>