<%- include('../partials/header') %>
<br>
<br>
<br>
<br>
<br>

<div class="deck-metainfo">
    <div class="deck-tile-container">
        <div class="deck-tile"
            style="<%= deck.deckTile ? `background-image: url(${deck.deckTile.image_uris.art_crop})` : '' %>">
            <%= deck.deckTile ? deck.deckTile.name : 'No deck tile' %>
        </div>
        <% if (deck.deckTile) { %>
        <div class="deck-tile-credits">
            Artist: <%= deck.deckTile.artist %><br>
            &copy; <%= deck.deckTile.released_at.getFullYear() %> Wizards of the Coast
        </div>
        <% } %>
    </div>
    <div class="deck-name-container">
        <div class="deck-name"><%= deck.name %></div>
        <div class="deck-format">
            Format: <%= deck.format ? deck.format.replace(/^./, match => match.toUpperCase()) : '' %>
        </div>
    </div>
    <div class="deck-wubrg">{W}{U}{B}{R}{G}</div>
</div>

<% for (const prop of ['mainDeck', 'sideboard', 'maybeboard']) { %>
<div class="deck-<%= prop.toLowerCase %>">
    <h3 class="deck-section-header"><%= prop.replace('D', ' D').replace(/^./, match => match.toUpperCase()) %></h3>
    <% for (const cardType of ['Creature', 'Planeswalker', 'Instant', 'Sorcery', 'Artifact', 'Enchantment', 'Land']) { %>
        <% if (deckData[prop][cardType] && deckData[prop][cardType].length) { %>
            <h5 class="card-type-header"><%= cardType %></h5>
            <% deckData[prop][cardType].forEach(card => { %>
                <div class="card-details-container">
                    <span class="card-quantity"><%= card.quantity %></span>
                    <span class="card-name"><%= card.name %></span>
                    <span class="card-manacost"><%= card.mana_cost %></span>
                </div>
            <% }) %>
        <% } %>
    <% } %>
</div>
<% } %>
<br>
<br>
<br>
<br>
<br>
<%- include('../partials/footer') %>